/* Higher Cover Images by Kessenzu */

/* 11eyes */
.data.image a[href^="/anime/6682/"]:before{
    background-image:url(https://drive.usercontent.google.com/download?id=1wblp71SFBpOe4zacgW7Aldg_vDy7s6K7&authuser=0);
    background-size: contain;
    background-position: left top;
    }
