/* Higher Cover Images by Kessenzu */

/* 11eyes */
.data.image a[href^="/anime/6682/"]:before{
    background-image:url(https://i.imgur.com/cbePnBC.jpg);
    background-size: contain;
    background-position: left top;
    }

/* 3d_Kanojo */
.data.image a[href^="/anime/36793/"]:before{
    background-image:url(https://i.imgur.com/ci1akF7.jpg);
    background-size: contain;
    background-position: left top;
    }
    
/* 3d_Kanojo_2nd */
.data.image a[href^="/anime/37956/"]:before{
    background-image:url(https://i.imgur.com/1XYMKFg.jpg);
    background-size: contain;
    background-position: left top;
    }
    
/* 5-toubun_no_Hanayome */
.data.image a[href^="/anime/38101/"]:before{
    background-image:url(https://i.imgur.com/vC1UGu9.jpg);
    background-size: contain;
    background-position: left top;
    }
        
/* 5-toubun_no_Hanayome_2nd */
.data.image a[href^="/anime/39783/"]:before{
    background-image:url(https://i.imgur.com/nA70dJm.jpg);
    background-size: contain;
    background-position: left top;
    }
