/*==============================*\
  !MODS "by Kessenzu"
\*------------------------------*/

/* Colors */
:root {
  /* List color */
  --bg: 0, 0%, 0%;

  /* Header color */
  --bgAlt: 222, 56%, 41%;

  /* Fonts */
  --font: "Avenir","lucida grande","tahoma","verdana","arial","sans-serif", "FontAwesome 4", "FontAwesome";

  /* Color line */
  --current: 222, 56%, 41%;
  --completed: 222, 56%, 41%;
  --paused: 222, 56%, 41%;
  --dropped: 222, 56%, 41%;
  --planned: 222, 56%, 41%;
}

/* Float Menu Color*/
.list-menu-float {
	background: #353535;
}

/* Myanimelist.net logo */
.header .header-title {
	top: 9px;
	left: 42px;
	
	width: 358px;
	height: 24px;
	background: url(https://cdn.myanimelist.net/images/mal-logo-xsmall-white@2x.png?v=1634263200) left 4px / auto 20px no-repeat;
}

/* Menu icon */
.list-menu-float::after,
.list-container::before {
	content: "";
	position: fixed;
	left: 7px;
	top: 9px;
	
	width: 24px;
	height: 24px;
	box-sizing: initial;
    background-color: white;
    -webkit-mask: url(https://files.catbox.moe/jpvnhu.svg) no-repeat center;
    mask: url(https://files.catbox.moe/jpvnhu.svg) no-repeat center;

	font: 21px/42px "FontAwesome";
	text-align: center;
	
	transition: inherit;
}

/* Higher Cover Images */
@\import "https://malscraper.azurewebsites.net/covers/anime/Kessenzu/presets/dataimagelink";
@\import "https://malscraper.azurewebsites.net/covers/manga/Kessenzu/presets/dataimagelink";

/* Higher Cover Images by Kessenzu */

/* 11eyes */
.data.image a[href^="/anime/6682/"]:before{
    background-image:url(https://i.imgur.com/cbePnBC.jpg);
    background-size: contain;
    background-position: left top;
    }

/* 3d_Kanojo */
.data.image a[href^="/anime/36793/"]:before{
    background-image:url(https://i.imgur.com/ci1akF7.jpg);
    background-size: contain;
    background-position: left top;
    }
    
/* 3d_Kanojo_2nd */
.data.image a[href^="/anime/37956/"]:before{
    background-image:url(https://i.imgur.com/1XYMKFg.jpg);
    background-size: contain;
    background-position: left top;
    }
    
/* 5-toubun_no_Hanayome */
.data.image a[href^="/anime/38101/"]:before{
    background-image:url(https://i.imgur.com/vC1UGu9.jpg);
    background-size: contain;
    background-position: left top;
    }
        
/* 5-toubun_no_Hanayome_2nd */
.data.image a[href^="/anime/39783/"]:before{
    background-image:url(https://i.imgur.com/nA70dJm.jpg);
    background-size: contain;
    background-position: left top;
    }
